<div class="wrapper">
    <div class="row">
        <!-- <div class="col-sm-3 p0">
            <mat-form-field class="select-model" appearance="fill">
                <mat-label>Formatuj z</mat-label>
                <mat-select (valueChange)="setListFormatsTo($event)">
                    <mat-option *ngFor="let format of formats" [value]="format">
                        {{ format }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div class="col-sm-3 select-model p0">
            <mat-form-field>
                <ngx-mat-file-input [placeholder]="'Wybierz plik'" (change)="handleFileInput($event.target.files)">
                </ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-sm-3 select-model p0">
            <button mat-stroked-button color="primary" (click)="uploadFile()">
                Konwertuj
            </button>
        </div>

        <div class="col-sm-3 p0">
            <mat-form-field class="select-model" appearance="fill">
                <mat-label>Konwertuj do</mat-label>
                <mat-select (valueChange)="setFormatTo($event)">
                    <mat-option *ngFor="let format of formats" [value]="format">
                        {{ format }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="wrapper">
    <div style="margin-top: 30px" class="row">
        <div class="col-sm-11">
            <span style="position: relative; display: block; top: 10px" class="download">{{fileToDownlad}}</span>
        </div>
    </div>

    <div class="col-sm-3 select-model p0">
        <mat-form-field class="select-model" appearance="fill">
            <mat-label>Rodzaj</mat-label>
            <mat-select (valueChange)="setTypeTo($event)">
                <mat-option *ngFor="let type of types" [value]="type">
                    {{ type }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <a style="margin-bottom:15px;" *ngIf="fileTo == 'Plik'" href="http://localhost:8080/api/file/{{fileToDownlad}}">
            <button [disabled]="!fileToDownlad" mat-stroked-button color="primary">
                Pobierz Plik
            </button>
        </a>
        <button *ngIf="fileTo == 'Tekst'" mat-stroked-button color="primary" (click)="downloadContent()">
            Pobierz Tekst
        </button>
    </div>
    <textarea style="width:80%; min-height:300px">
        {{convertedText}}
        </textarea>
</div>